Host *
{% for key, value in openssh_client_config|dictsort %}
{% if value.__class__.__name__ == 'list' %}
{{'    '}}{{key}} {{','.join(value)}}
{% else %}
{{'    '}}{{key}} {{value}}
{% endif %}
{% endfor %}
